<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <authorization>
          <!-- Deny access to all users for the entire folder and its contents -->
          <remove users="*" roles="" verbs="" />
          <add accessType="Deny" users="*" />
        </authorization>
      </security>
      <!-- Disable directory browsing for additional security -->
      <directoryBrowse enabled="false" />
    </system.webServer>
  </location>
</configuration>
